name: Build and Test with Gradle

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Set execute permission for Gradle wrapper
        run: chmod +x ./gradlew

      - name: Run Gradle wrapper to build and test
        run: ./gradlew clean build test
